/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

a {
  color: #000;
}

a:hover {
  color: #fff;
  background-color: #000;
}

h1 {
  margin: 17.42px 0px;
}

.top-title {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.top-text {
  margin: 33px;
}

.table-head {
  padding-bottom: 5px;
}

.table-date {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

h2 {
  margin-bottom: 16.185px;
  margin-top: 16.185px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.label {
  display: block;
}

/* show.html */
.show-p {
  margin: 33px;
}

.notice {
  color: green;
  margin: 33px;
}

.error_message {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  display: block;
}

.error_header {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

.error_ul {
  margin: 33px;
  display: block;
  list-style-type: disc;
}

.field_error {
  padding: 2px;
  background-color: red;
  display: table;
}